$primary-color: white;
$bg-color: whitesmoke;
$heading-text-color: #262626;
$secondary-color: #015ef4a5;
$card-bg-color: #fffffff3;
$wishlisted-bg-color: rgb(255, 39, 39);

$media-tab-size: 768px;
$media-mb-size: 535px;